<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="testcase">
  <test name="login">
    <classes>
      <class name="testcase.Signup"/>
      <class name="testcase.Login"/>
      <class name="testcase.Floorplantest"/>
      <class name="testcase.Sectiondrawing"/> 
    </classes>
  </test>
</suite>